# Ignore Python cache
__pycache__/
*.py[cod]
*.pyo

# Ignore virtual environment
venv/

# Ignore environment variable files
.env
*.env

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore logs and temp files
*.log
*.tmp

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore VS Code settings (optional)
.vscode/

# Ignore compiled files
*.so

